# {{ . }} is consuming the extracted value in tag.txt templated in manifest-autoscaler drone pipeline
image: rancher/hardened-cluster-autoscaler:{{ . }}
manifests:
  -
    image: rancher/hardened-cluster-autoscaler:{{ . }}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-cluster-autoscaler:{{ . }}-arm64
    platform:
      architecture: arm64
      os: linux
